In [4]:
# imports
import plotly.express as px
import plotly.graph_objects as go

In [5]:
# get data
data = px.data.stocks()
type(data)

pandas.core.frame.DataFrame

In [6]:
data.head()

         date      GOOG      AAPL      AMZN        FB      NFLX      MSFT
0  2018-01-01  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
1  2018-01-08  1.018172  1.011943  1.061881  0.959968  1.053526  1.015988
2  2018-01-15  1.032008  1.019771  1.053240  0.970243  1.049860  1.020524
3  2018-01-22  1.066783  0.980057  1.140676  1.016858  1.307681  1.066561
4  2018-01-29  1.008773  0.917143  1.163374  1.018357  1.273537  1.040708

In [10]:
x = data['date']
y = data['GOOG']

data_fig = go.Figure()
data_fig.add_trace(go.Scatter(x=x, y=y,
                    fill = 'tozeroy',
                    fillcolor = 'rgba(232,62,126,1)',
                    mode = 'lines',
                    stackgroup = 'one',
                    hoveron = 'points+fills',

                    )
)

data_fig.update_layout(
    title = "Google stocks",
    xaxis_title = "Date",
    yaxis_title = "Google Stock Prices Overtime",
    plot_bgcolor = 'rgb(19,22,51)',
    paper_bgcolor = 'rgb(19,22,51)',
    font_family = 'Multi',
    font_color = 'white',
    font_size = 14,
    title_font_family = "Multi",
    title_font_color = "white",
    title_font_size = 30,
    hovermode = "x unified"
)

data_fig.update_xaxes(showgrid=False)
data_fig.update_yaxes(showgrid=False)

AttributeError: 'Figure' object has no attribute 'update_yxes'